$color-gray: #999;
$color-gray2: #B8C5CD;
$color-gray3: #B9C6CE;
$color-gray4: #D9E2EA;
$color-lightgray: #F2F2F2;
$color-lightergray: #F4F7F9;

$color-blue-gray: #728B9B;
$color-blue: #264e66;
$color-darkblue: #354650;
$color-lightblue: #54D0FF;

$color-red: #FF2F2F;
$color-lightred: #FFEFF2;

$color-green: #29C581;

$color-orange: #F5C523;
