<div class="dropdown dropup">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.status.text }}</a>
    <div class="dropdown-menu dropdown-icons">
        <a class="dropdown-item" href="#">
            <div class="icon info"><i class="fa fa-long-arrow-right"></i></div>
            Contacting
        </a>
        <a class="dropdown-item" href="#">
            <div class="icon info"><i class="fa fa-phone"></i></div>
            Talked to the client
        </a>
        <a class="dropdown-item" href="#">
            <div class="icon info"><i class="fa fa-eye"></i></div>
            Assessment scheduled
        </a>
        <a class="dropdown-item" href="#">
            <div class="icon info"><i class="fa fa-star"></i></div>
            Contract Signed
        </a>
        <a class="dropdown-item" href="#">
            <div class="icon danger"><i class="fa fa-times"></i></div>
            Cancel the client
        </a>
    </div>
</div>
