<!-- Sidebar -->
<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <img src="/assets/img/TrueCare24_logo.svg"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/img/Dashboard.svg"/>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/img/FAQ.svg"/>
                FAQ
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/img/Sign out.svg"/>
                Sign out
            </a>
        </li>
    </ul>
</nav>
